* {
	font-family: system-ui;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #444;
	background: #f1f1f1;
	/* font:300 18px/18px Roboto, sans-serif; */
}

*,
:after,
:before {
	box-sizing: border-box
}

.pull-left {
	float: left
}

.pull-right {
	float: right
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

.clock:before,
.count:after {
	content: '';
	position: absolute;
}

.clock-tagline {
	text-align: center;
	margin-top: 30px;
	width: 100%;
	float: left;
	color: #ec366b;
	font-size: 36px;
}

.clock-wrap {
	margin: auto;
	width: 500px;
	height: 500px;
	margin-top: 100px;
	position: relative;
	border-radius: 50px;
	/* background-color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, .15); */
}

.clock {
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: absolute;
	margin-top: -115px;
	margin-left: -150px;
	background-color: #feeff4;
}

.clock:before {
	top: 50%;
	left: 50%;
	width: 280px;
	height: 280px;
	margin-top: -140px;
	margin-left: -139px;
	border-radius: inherit;
	background-color: #ec366b;
	box-shadow: 0 0 15px rgba(0, 0, 0, .15), 0 0 3px rgba(255, 255, 255, .75) inset;
	/*border:1px solid rgba(255,255,255,.1);*/
}

.count {
	width: 100%;
	color: #fff;
	height: 100%;
	padding: 50px;
	font-size: 140px;
	font-weight: 500;
	line-height: 50px;
	position: absolute;
	text-align: center;
	top: 20%;
}

.count:after {
	width: 100%;
	display: block;
	font-size: 40px;
	font-weight: 300;
	line-height: 18px;
	text-align: center;
	position: relative;
	top: 35%;
}

.count.sec:after {
	content: 'sec'
}

.count.min:after {
	content: 'min'
}

.action {
	margin: auto;
	max-width: 200px;
}

.action .input {
	margin-top: 30px;
	position: relative;
}

.action .input-num {
	width: 100%;
	border: none;
	padding: 12px;
	border-radius: 60px;
}

.action .input-btn {
	top: 0;
	right: 0;
	color: #fff;
	border: none;
	border: none;
	padding: 12px;
	position: absolute;
	border-radius: 60px;
	background-color: #ec366b;
	text-transform: uppercase;
}

.tbl {
	display: table;
	width: 100%
}

.tbl .col {
	display: table-cell
}

.footer{
	width: 100%;
	position: fixed;
	bottom: 20px;
	text-align: center;
}